
button{
    color: gray;
    width: 50px;
    
}

ul{
    background-color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: gray;
    list-style: none;
    overflow: hidden;
    
}

li{
    display:inline-block;
}

.prva{
    float: right;
    
}

a{
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
  }